{
  "presets": [
    "@babel/preset-env"
    ,["minify",{"mangle":true}]
  ],
  "plugins": [
    ["wildcard"],
    ["@babel/transform-runtime"],
    ["@babel/plugin-transform-destructuring"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : false }]
  ]
}